<div class="cart-modal">
  <h3>Your Cart</h3>

  <!-- Check if the cart is empty -->
  <div *ngIf="cart.length === 0" class="empty-cart">
    <p>Your cart is empty!</p>
  </div>

  <!-- Display cart items if not empty -->
  <div *ngIf="cart.length > 0">
    <div *ngFor="let item of cart" class="cart-item">
      <img [src]="item.image" [alt]="item.name" />
      <div>
        <h4>{{ item.name }}</h4>
        <p>{{ item.price }}</p>
        <input type="number" [(ngModel)]="item.quantity" (change)="updateQuantity(item)"  />
      </div>
      <button (click)="removeFromCart(item.id)">Remove</button>
    </div>
    <div>Total: {{ cartTotal }}</div>
  </div>

  <!-- Close button -->
  <button mat-button (click)="close()">Close</button>
</div>
